<ion-menu contentId="show-pantry-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title>{{user.first_name}} {{user.last_names}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item (click)="navigateToHouseholds()">
        <ion-icon slot="start" name="home"></ion-icon>
        {{ "HOUSEHOLDS_TITTLE" | translate }}
      </ion-item>
      <ion-item [routerLink]="['/shopping-carts']" routerDirection="root">
        <ion-icon slot="start" name="cart"></ion-icon>
        {{ "SHOPPING_CARTS_TITTLE" | translate }}
      </ion-item>
      <ion-item [routerLink]="['/settings']" routerDirection="root">
        <ion-icon slot="start" name="settings"></ion-icon>
        {{ "SETTINGS_TITTLE" | translate }}
      </ion-item>
      <!-- Botón de cierre de sesión -->
      <ion-item [routerLink]="['/logout']" routerDirection="root">
        <ion-icon slot="start" name="log-out"></ion-icon>
        {{ "LOGOUT" | translate }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="show-pantry-food-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{food.name}} {{food.description}}</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content [fullscreen]="true">
    <ion-item>

    </ion-item>