<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'LOGIN_TITTLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="login_validation_form">
    <ion-card>
      <ion-item>
        <ion-label position="floating">{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ "PASSWORD" | translate }}</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-card>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onLogin(login_validation_form.value)" expand="block" [disabled]="!login_validation_form.valid">{{ 'LOGIN' | translate }}</ion-button>
      </ion-col>
    </ion-row>
    <div class="ion-text-center">
      {{ 'OR' | translate }}
    </div>
    <div id="firebaseui-auth-container"></div>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" (click)="onLoginGoogle()" expand="block">{{ 'LOGIN_GOOGLE' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-row>
    <ion-col>
      <p class="ion-text-end">
        <a routerLink="/forgot-password">{{ 'FORGOT_PASSWORD' | translate }} </a>
      </p>
      <p class="ion-text-end">
        <a routerLink="/register">{{ 'CREATE_ACCOUNT' | translate }} </a>
      </p>
    </ion-col>
  </ion-row>
  <!-- <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm(account_validation_form.value)" [strong]="true" [disabled]="!account_validation_form.valid">Confirmar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">    
        <form [formGroup]="account_validation_form">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" placeholder="Introduce tu nombre" formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellidos</ion-label>
            <ion-input type="text" placeholder="Introduce tus apellidos" formControlName="last_names"></ion-input>
          </ion-item>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal> -->
</ion-content>