<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'LOGIN_TITTLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="login_validation_form">
    <ion-card>
      <ion-item>
        <ion-label position="floating">{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
        <ion-text color="danger" *ngIf="login_validation_form.get('email').invalid && login_validation_form.get('email').touched">
          <small *ngIf="login_validation_form.get('email').errors['required']">
            {{ 'EMAIL_REQUIRED' | translate }}
          </small>
          <small *ngIf="login_validation_form.get('email').errors['pattern']">
            {{ 'EMAIL_PATTERN' | translate }}
          </small>
        </ion-text>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">{{ "PASSWORD" | translate }}</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
        <ion-text color="danger" *ngIf="login_validation_form.get('password').invalid && login_validation_form.get('password').touched">
          <small *ngIf="login_validation_form.get('password').errors['required']">
            {{ 'PASSWORD_REQUIRED' | translate }}
          </small>
          <small *ngIf="login_validation_form.get('password').errors['minlength']">
            {{ 'PASSWORD_MIN_LENGTH' | translate }}
          </small>
          <small *ngIf="login_validation_form.get('password').errors['maxlength']">
            {{ 'PASSWORD_MAX_LENGTH' | translate }}
          </small>
        </ion-text>
      </ion-item>
    </ion-card>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onLogin(login_validation_form.value)" expand="block" [disabled]="!login_validation_form.valid">{{ 'LOGIN' | translate }}</ion-button>
      </ion-col>
    </ion-row>
    <div class="ion-text-center" *ngIf="false">
      {{ 'OR' | translate }}
    </div>
    <div id="firebaseui-auth-container"></div>
  </form>
  <ion-row>
    <ion-col>
      <p class="ion-text-end">
        <a routerLink="/forgot-password">{{ 'FORGOT_PASSWORD' | translate }} </a>
      </p>
      <p class="ion-text-end">
        <a routerLink="/register">{{ 'CREATE_ACCOUNT' | translate }} </a>
      </p>
    </ion-col>
  </ion-row>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ 'WELCOME' | translate }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm(account_validation_form.value)" [strong]="true" [disabled]="!account_validation_form.valid">
              {{ 'CONFIRM' | translate }}
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">    
        <form [formGroup]="account_validation_form">
          <ion-item>
            <ion-label position="floating">{{ "FIRST_NAME" | translate }}</ion-label>
            <ion-input type="text" placeholder="{{ 'FIRST_NAME_PLACEHOLDER' | translate }}" formControlName="first_name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">{{ "LAST_NAMES" | translate }}</ion-label>
            <ion-input type="text" placeholder="{{ 'LAST_NAMES_PLACEHOLDER' | translate }}" formControlName="last_names"></ion-input>
          </ion-item>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>