<div class="ion-page" id="show-shopping-cart-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        {{ shoppingCart.description }}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/shopping-carts']" routerDirection="root">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

  </ion-content>
</div>
