<ion-menu contentId="shopping-carts-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title>{{user.first_name}} {{user.last_names}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item [routerLink]="['/households']" routerDirection="root">
        <ion-icon slot="start" name="home"></ion-icon>
        {{ "HOUSEHOLDS_TITTLE" | translate }}
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="cart"></ion-icon>
        {{ "SHOPPING_CARTS_TITTLE" | translate }}
      </ion-item>
      <ion-item [routerLink]="['/settings']" routerDirection="root">
        <ion-icon slot="start" name="settings"></ion-icon>
        {{ "SETTINGS" | translate }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="shopping-carts-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="setOpen(true)">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        {{ "SHOPPING_CARTS_TITTLE" | translate }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <!-- Mostrar listas de la compra -->
    <ng-container *ngIf="shoppingCarts.length === 0">
      <ion-item>
        <ion-label>
          {{ "WITHOUT_ACTIVE_LIST" | translate }}
        </ion-label>
      </ion-item>
    </ng-container>    
    <div>
      <ion-item-sliding *ngFor="let shoppingCart of shoppingCarts; index as i">
        <ion-item>
          {{shoppingCart.description}}
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="dark" (click)="showShoppingCart(i, false)">
            <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteShoppingCart(i, false)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>

    <!-- Historial de compras -->
    <ion-item color="primary">
      <ion-label>
        {{ "PURCHASE_HISTORY" | translate }}
      </ion-label>
      <ion-icon slot="end" name="eye-outline" (click)="toggleShowHistory(true)" *ngIf="!showHistory"></ion-icon>
      <ion-icon slot="end" name="eye-off-outline" (click)="toggleShowHistory(false)" *ngIf="showHistory"></ion-icon>
    </ion-item>
    <ng-container *ngIf="showHistory">
      <div>
        <ion-item-sliding *ngFor="let shoppingCart of shoppingCartsHistory; index as i">
          <ion-item>
            <ion-col>
              <ion-row>
                <label>{{shoppingCart.description}}</label>
              </ion-row>
              <ion-row>
                <label>{{shoppingCart.getPurchaseDate()}}</label>
              </ion-row>
            </ion-col>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="dark" (click)="showShoppingCart(i, true)">
              <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger" (click)="deleteShoppingCart(i, true)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </ng-container>

    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="setOpen(false)">
                <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>{{ "NEW_SHOPPING_CART" | translate }}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="newShoppingCart(shopping_cart_validation_form.value)" [strong]="true"
                [disabled]="!shopping_cart_validation_form.valid">{{ "CREATE" | translate }}</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <form [formGroup]="shopping_cart_validation_form">
            <ion-item>
              <ion-label position="floating">{{ "DESCRIPTION" | translate }}</ion-label>
              <ion-input type="text" placeholder="{{ 'DESCRIPTION_NEW_SHOPPING_CART' | translate }}"
                formControlName="description"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">{{ "SUPERMARKET" | translate }}</ion-label>
              <ion-input type="text" placeholder="{{ 'SUPERMARKET_NEW_SHOPPING_CART' | translate }}"
                formControlName="supermarket"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>{{ "PURCHASE_DATE" | translate }}</ion-label>
              <ion-datetime-button datetime="datetime"></ion-datetime-button>
            </ion-item>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="purchaseDate" formControlName="purchase_date"></ion-datetime>
              </ng-template>
            </ion-modal>
            <ion-item>
              <ion-select placeholder="{{ 'USERS_SHOPPING_CART' | translate }}" formControlName="users" multiple="true"
                cancelText="{{ 'CANCEL' | translate }}" okText="{{ 'Ok' | translate }}">
                <ng-container *ngFor="let user of users">
                  <ion-select-option [value]="user.id">
                    {{ user.first_name }} {{ user.last_names }}
                  </ion-select-option>
                </ng-container>
              </ion-select>
            </ion-item>

          </form>
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  </ion-content>
</div>